{% extends "index.html" %}
{% block content %}
        <h1 style="color: antiquewhite; margin-left: 430px;font-family: cursive;"> HOME PAGE </h1>
        <div class="options" style="padding-left: 100px;padding-top: 140px;font-size: xx-large;">
            <div class="fileupload" style="padding-left: 50px;float: left;padding-bottom: 30px ; font-size: x-large;padding-top: 30px;">
                <a href="/fileupload" >FILE UPLOAD</a>
            </div>
            <div class="download">
                <a href="/download" style="padding-left: 50px;float: left;padding-bottom: 30px ; font-size: x-large;padding-top: 30px;">DOWNLOAD FILES</a>
            </div>
            <div class="delete"></div>
                <a href="/delete" style="padding-left: 50px;float: left;padding-bottom: 30px ; font-size: x-large;padding-top: 30px;">DELETE FILES</a>
            </div>
            <div class="Notes"></div>
                <a href="/notes" style="padding-left: 50px;float: left;padding-bottom: 30px ; font-size: x-large;padding-top: 30px;">ADD NOTES</a>
            </div>
        </div>





{% endblock %}